GOOGLE_API_KEY=your_google_places_api_key_here
GOOGLE_PLACES_BASE_URL=https://places.googleapis.com

TICKETMASTER_API_KEY=your_ticketmaster_consumer_key_here
TICKETMASTER_BASE_URL=https://app.ticketmaster.com/discovery/v2

CACHE_TTL=5m
HTTP_TIMEOUT=10s
EVENTS_PER_CATEGORY=6

ALLOWED_TICKET_HOSTS=ticketmaster.com,www.ticketmaster.com,ticketmaster.ca,www.ticketmaster.ca,ticketmaster.co.uk,www.ticketmaster.co.uk,ticketweb.com,www.ticketweb.com,livenation.com,www.livenation.com